<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>927B02D61EC2B44700DD436C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927B02EA1EC2B44700DD436C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927B02F51EC2B44700DD436C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
